.form{
  width:420px;
  
  border:2px solid;

  border-radius:10px;
  padding:30px 40px;
  margin-top:3%;
  margin-left:35%;
  font-weight:bold;
     }
h1{
   text-align:center;
   margin-top:4%;
   }
   .form{
      width: 50%;
      margin-top: 3%;
      margin-left: 25%;
     font-weight: bold;
   }
   @media screen and(max-width:600px) {
      .form{
          width: 100%;
          margin-top: 10%;
          margin-left: 0;
      }
   }
   @media screen and(max-width:800px) {
      .form{
          width: 100%;
          margin-top: 10%;
          margin-left: 0;
      }
   }
   
   @media screen and(max-width: 600px) {
      .form-group{
          margin-left: 10px;
          margin-right: 10px;
      }
   }
   
